:root {
    --background-color: #fff;
    --text-color: #000;
    --tab-color: #fff;
}

html[data-theme='dark'] {
    --background-color: rgb(19, 19, 19);
    --text-color: #fff;
    --tab-color: rgb(49, 49, 49);
}

* {
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    transition: background-color 0.2s, color 0.2s;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.loading-header h2 {
    font-size: 2.3rem;
    font-weight: 1000;
    /* upper case */
    text-transform: uppercase;
    letter-spacing: -2px;
}

.loading-header svg {
    height: 70px;
    width: 80px;
    vertical-align: middle;
}

.loading-text {
    text-align: center;
    margin-bottom: 20px;
}

.loading-text p {
    margin: 0;
    font-size: 1rem;
    color: gray;
    letter-spacing: 5px;
}

.controls {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5000;
    margin: 10px;
    display: flex;
}

.controls button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    background-color: var(--text-color);
    transition: background-color 0.2s, color 0.2s;
}

.controls button svg {
    fill: var(--background-color);
    vertical-align: middle;
}

#dark-btn {
    position: relative;
    overflow: hidden;
}

#dark-btn svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25%;
    margin-left: -25%;
}

.tab-container {
    margin: 20px;
}

.tab {
    margin: 25px 0px 25px 0px;
    padding: 10px;
    background-color: var(--tab-color);
    border-radius: 5px;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s, color 0.2s;
    width: 100%;
}

.red {
    box-shadow: 0px 0px 7px 1px rgba(255, 1, 1, 0.3) !important;
}

.today {
    border: 2px solid var(--text-color);
}

.tab h2 {
    font-size: 1.5rem;
    color: var(--text-color);
}

.tab p {
    margin: 5px;
    color: var(--text-color);
}

.red-block {
    border: 1px solid red;
    color: red;
}

.post-block {
    border: 1px solid var(--text-color);
    color: var(--text-color);
}

.block {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin: 4px;
}

.today-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 15px;
    display: inline-block;
    transform: translateY(200%);
}

.today-btn button {
    background-color: var(--text-color);
    border-radius: 5px;
    border: none;
    color: var(--background-color);
    font-weight: 600;
    width: 100px;
    height: 50px;
    transition: background-color 0.2s, color 0.2s;
}